src/jbiServiceUnits/localhost_8080/ProtoProvider/ProtoWebServiceService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><xs:schema xmlns:tns="http://proto/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://proto/">

<xs:element name="ping" type="tns:ping"></xs:element>

<xs:element name="pingResponse" type="tns:pingResponse"></xs:element>

<xs:complexType name="ping">
<xs:sequence>
<xs:element name="ping" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pingResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>